# Data Science Tools and Echosystem

## Author
Andre Moreira

In this notebook, Data Science Tools and Echosystems are summarized.

**Objectives:**

- List some of the popular languages used by Data Scientists
- List some of the commonly used libraries
- Show simple Python code examples

Some of the popular languages that Data Scientists use are:

1. Python
2. R Language
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. MatPlotlib
4. sciKit learn
5. TensorFlow

|Data Science Tools|
|-|
|JupyterLab|
|Anaconda Navigator|
|R-Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60

time_in_minutes = 200

time_in_hours = time_in_minutes / 60

print(time_in_minutes,"minutes is the same as", time_in_hours, "hours")

200 minutes is the same as 3.3333333333333335 hours